<div class="row">
    <div class="col-md-12">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div align="center">
                    <b>DATA PEMBAYARAN</b>
                </div>
            </div>
            
            
             <!-- table -->
           </div>
            <a style="margin-left: 10px;" id="modal-195230" href="" role="button" class="btn btn-primary"
                data-target="#modal-container-195230" data-toggle="modal" ng-click = "GetPembayaran()"><i class="glyphicon glyphicon-plus"></i> TAMBAH </a>
            <div class="panel-body">
  
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tdead>
                            <tr>
                                <td align="center"><b>No</b></td>
                                <td align="center"><b>ID PEMBAYARAN</b></td>
                                <td align="center"><b>NO STT </b></td>
                                <td align="center"><b>CARA BAYAR</b></td>
                                <td align="center"><b>VIA</b></td>
                                <td align="center" colspan="2"><b>Action</b></td>
                            </tr>
                        </tdead>
                        <tbody>
                            <tr ng-repeat="item in DatasPembayaran">
                                <td align="center">{{$index+1}}</td>
                                <td align="center">{{item.idPembayaran}}</td>
                                <td align="center">{{item.NoStt}}</td>
                                <td align="center">{{item.Carabayar}}</td>
                                <td align="center">{{item.via}}</td>
                                <td align="center"><button class="btn btn-info" id="modal-195230" data-target="#modal-container-195230" data-toggle="modal" ng-click="GetData(item)"><i class="glyphicon glyphicon-edit"></i> Ubah</button></td>
                                <td align="center"><button class="btn btn-Dark"  ng-click ="Hapus(item)"><i class="glyphicon glyphicon-trash"></i>Hapus</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




        <!-- End  Kitchen Sink -->
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
  
  
            <div class="modal fade" id="modal-container-195230" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">


                                MASUKAN DATA    
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                

                                <div class="form-group">
  
                                    <label for="pembayaran">

                                        NO STT
                                    </label>
                                    
                                    <select class="form-control"
                                  ng-options="item as item.NoStt for item in DatasTransaksi track by item.NoStt"
                                  ng-model="SelectedTransaksi"></select>      
                                </div>
                                <div class="form-group">
  
                                  <label for="pembayaran">

                                      CARA BAYAR
                                  </label>
                                  
                                  <input type="text" class="form-control" id="pembayaran" ng-model="input.Carabayar" />      
                              </div>
                              <div class="form-group">
  
                                <label for="pembayaran">
                                    
                                    VIA
                                </label>
                                
                                <input type="text" class="form-control" id="pembayaran" ng-model="input.via" />      
                            </div>
    
                        </div>
                        <div class="modal-footer">
  
                            <button type="button" class="btn btn-primary" ng-click = "Simpan()">
                                Save <i class="glyphicon glyphicon-floppy-save"></i></button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                                <i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                    </div>
  
                </div>
  
            </div>
  
        </div>
    </div>
  </div>